body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.NavContainer {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.234);
  margin: 0;
  
}

.NavContainer nav {
  display: flex;
}

.buttonAdj {
  border: none;
  border-radius: 15px;
  text-align: center;
  transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
}

.buttonAdj:hover {
  transform: scale(1.1);
  background-color: #8D7361;
  color: white;
  
}

.Navadj {
  margin: 10px;
}

.TextMe{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 134px;
  letter-spacing: 2px;
}
#About-self {
  text-align: center;
}
.All-content {
  /* Add styles for the main content container if needed */
}

.sectionParent {
  width: 100%;
  height: 100vh;
  font-size: 2em;
}

section {
  /* Add common styles for all sections if needed */
}

#Introduction {
  /* Add specific styles for the Introduction section if needed */
}

.Profile-container {
  /* Add styles for the Profile container if needed */
}



#Profile-box {
  /* Add styles for the Profile-box container if needed */
}

/* Media Queries */
@media (max-width: 768px) {
  .buttonAdj {
    margin: 0 10px; /* Adjust margin for smaller screens */
    padding: 9px 10px; /* Adjust padding for smaller screens */
  }

  /* Adjust other styles for smaller screens */
}

@media (min-width: 769px) {
  /* Styles for laptop/desktop view */
  .buttonAdj {
    margin: 0 30px;
    padding: 9px 30px;
    font-size: 12px;
  }
}
