* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#ImgContainer {
  background-image: url('../img/Black\ and\ White.svg');
  width: 100%;
  height: 100vh; /* Adjusted height to cover the entire viewport */
  background-position: center;
  background-size: cover;
}
.navContainer{
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.buttonNav{
  position: sticky;
  color: white;
  margin: 10px;
}
.buttonNav button{
  color: white;
  padding: 5px;
}
header {
  width: 100%;
  height: 50px; /* Fixed height for the header */
  background: linear-gradient(90deg, rgba(43,19,0,1) 0%, rgba(170,86,34,1) 100%, rgba(189,112,53,1) 100%);
  color: white;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure it's on top of other content */
}
header {
  opacity: 0.80; /* Adjust the value between 0 (completely transparent) and 1 (fully opaque) */
}

.frontPage{
  padding-top: 50px;
}
.bulb-button {
  padding: 10px 20px;
  background-color: transparent;
  color: #000000;
  border: none;
  font-size: 16px;
  cursor: pointer;
  position: relative;
}

.bulb-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(247, 230, 0, 0.959); /* Lighter orange with opacity */
  border-radius: 50%;
  transition: background-color 0.3s ease; /* Smooth transition for the background color */
  opacity: 0; /* Start with zero opacity */
}

.bulb-button:hover::before {
  opacity: .8; /* Full opacity on hover */
}

.bulb-button:hover {
  background-color: rgb(165, 126, 0); /* Yellow color on hover */
}
