/* Import Montserrat font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Apply Montserrat font to all text elements */
body {
  font-family: 'Montserrat', sans-serif !important;
}

#ImgContainer {
  background-image: url('../img/Black\ and\ White.svg');
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.section{
  width: 100%;
  height: 100vh;
}

.navContainer {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.buttonNav {
  position: sticky;
  color: white;
  margin: 10px;
}

.buttonNav button {
  color: white;
  padding: 5px;
}

header {
  width: 100%;
  height: 50px;
  color: white;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 1000;
}

  .frontPage {
    padding-top: 350px;
    padding-left: 445px !important;
  }
@keyframes animateIn {
  0% {
    opacity: 0;
    transform: translateY(50px); /* Start position, adjust as needed */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-on-load {
  animation: animateIn 3s ease forwards;
}
.description {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 2s ease;
}

.description.show {
  opacity: 1;
  transform: translateY(0);
}



nav.navContainer {
  background-color: transparent;
}

nav.navContainer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav.navContainer ul li {
  display: inline;
  margin-right: 20px;
  position: relative; /* Added for positioning */
}

nav.navContainer ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  position: relative; /* Added for positioning */
}

nav.navContainer ul li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px; /* Adjust this value to change the distance below the li */
  height: 2px;
  width: 0;
  background-color: white;
  transition: width 0.3s ease; /* Added for smooth animation */
}

nav.navContainer ul li:hover::after {
  width: 100%;
}

.navContainer {
  padding-top: 20px;
}
ul li a {
  transition: transform 0.3s ease;
}

ul li a:hover {
  transform: scale(1.1);
}
#download-cv-link,
#accomplishment-report-link {
  text-decoration: none;
  color: white;
}

#download-cv-link {
  padding-left: 5px;
  padding-right: 5px;
}

#accomplishment-report-link {
  border: 1px solid white;
  padding-left: 10px;
  padding-right: 10px;
}

#download-cv-link:hover,
#accomplishment-report-link:hover {
  text-decoration: underline;
}

/* Small devices (portrait phones) */
@media (max-width: 575.98px) {
  nav.navContainer ul li a {
    font-size: 10px !important;
  }

  .frontPage {
    font-size: 31px !important;
    padding-top: 295px;
    padding-left: 21px !important;
  }
  #adjustCv{
    margin-left: 12px !important;
    width: 72% !important;
  }
}

/* Medium devices (tablets) */
@media (min-width: 576px) and (max-width: 767.98px) {
  #ImgContainer {
    background-size: cover;
    background-position: center;
  }
}

/* Large devices (desktops) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #ImgContainer {
    background-size: cover;
    background-position: center;
  }
  .frontPage {
    font-size: 29px !important;
    padding-top: 200px;
    padding-left: 268px !important;
  }
  #adjustCv {
      margin-left: 12px !important;
      width: 32% !important;
      margin-bottom: 13px;
  }
  #adjustAR{
    width: 90% !important;
  }
  .Cv-Accomplishment{
    font-size: 15px !important;
  }
  nav.navContainer ul li a {
    font-size: 15px !important;
  }
  #responsiveIntroduction{
    padding-top: 100px !important;
  }
  #reponsiveAchivements{
    padding-top: 50px !important;
  }
  #DAS{
    padding-top: 200px !important;
  }
}

/* Extra large devices (large desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  #ImgContainer {
    background-size: cover;
    background-position: center;
  }
  .frontPage {
    font-size: 32px !important;
    padding-top: 200px;
    padding-left: 368px !important;
  }
  #adjustCv {
    margin-left: 12px !important;
    width: 30% !important;
    text-align: center;
  }
  .Cv-Accomplishment{
    font-size: 15px !important;
  }
  #DAS{
    padding-top: 60px !important;
  }
  #responsiveIntroduction{
    padding-top: 100px !important;
  }
  #reponsiveSkills{
    padding-top:180px !important;
  }
  nav.navContainer ul li a {
    font-size: 14px !important;
  }
}

/* Extra extra large devices (extra large desktops) */
@media (min-width: 1200px) {
  .frontPage {
    font-size: 31px !important;
    padding-top: 295px;
    padding-left: 490px !important;
  }
  #adjustCv {
    margin-left: 12px !important;
    width: 27% !important;
    text-align: center;
}
}
