*{
    margin: 0;
    padding: 0;
}
body{
    
    /* background-image: url('/img/pexels-gül-işık-18492598.jpg'); */
    background-size: cover;
}
img {
    height: 120px;
    width: 120px;
}

h3 {
    text-align: center;
}

.Profile-container {
    position: relative;
    display: flex;
}

#About-self {
    /*  display:inline-block;
    float: left;
    width: 65%;
    length:50%;
    margin-top: 5px;
    margin-right: 10px;
    */
    margin: 20px;
    width: 75%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: justify;
}

#Profile-box {
    margin-left: 30px;
}
#Profile-box img{
    margin-bottom: 30px;
}

.Profile-container {
    opacity: 90%;
}

#About-self p {
    opacity: 100%;
    color: black;
    text-indent: 50px;
}

#Skills,
#Projects,
#Contacts {
    height: 300px;
    text-align: center;
}
#Introduction{
    background-image: url('/img/img4.jpg');
    background-size: cover;
}
#Projects{
    background-image: url('/img/img2.jpg');
    background-size: cover;
}
#Skills{
   background-color: gainsboro;
}
#Contacts{
    background-image: url('/img/img3.jpg');
    background-size: cover;
}
.ChangeArtworks{
   
    background-image: url('/img/img1.jpg');
    background-size: cover;
}


.Contacts-container {
display: block;

}
.Contacts-container a{
    text-decoration: none;
}

#First-column {
    width: 20%;
}
#First-column, #Second-column{
    width: 45%;
    display: inline-block;
    text-align: left;
}
/* 
icons
*/
.material-symbols-outlined {
    color: aliceblue;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
#Contacts{
    color: aliceblue;
}
#Skills span{
    color:black;
}
#Projects span{
    color:black;
}